.dashboard-cards {
  margin-bottom: 20px;
  width: 67%;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 100%;

    @media screen and (max-width: 1000px) {
      flex-direction: row;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      row-gap: 10px;
    }
  }

  .card {
    background-color: #2b2f36;
    padding: 10px;
    border-radius: 8px;
    width: 25%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @media screen and (max-width: 600px) {
      width: 90%;
      padding: 10px;
    }

    .card-icon {
      width: 20px;
      margin-bottom: 10px;
      padding: 0.5rem;
      border-radius: 25%;
    }

    .card-content {
      width: 100%;
      .card-label {
        font-size: 14px;
        color: #fff;
      }

      .card-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .card-value {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0;
        color: #fff;
      }

      .card-change {
        &.positive {
          color: green;
          display: flex;
          justify-content: end;
          font-weight: 600;
          font-size: 16px;
        }

        &.negative {
          color: red;
          display: flex;
          justify-content: end;
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
  }
}
