.header {
  background-color: #2e3a4e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  @media screen and (max-width: 600px) {
    padding: 10px;
  }

  .SearchBar {
    label {
      position: relative;
    }

    input {
      max-width: 150px;
      height: 20px;
      padding: 5px 10px 5px 30px;
      border: solid #514b4b;
      border-radius: 10px;
      background-color: #2e3a4e;
      outline: none;
      color: #fff;

      @media screen and (max-width: 600px) {
        max-width: 70px;
        height: 15px;
        padding: 5px 10px 5px 30px;
        border: solid #514b4b;
        border-radius: 10px;
        background-color: #2e3a4e;
        outline: none;
        color: #fff;
      }
    }

    .Search-icon {
      position: absolute;
      left: 10px;
      top: 60%;
      transform: translateY(-50%);
      color: #cacaca;
    }
  }

  .search-bar {
    .search-icon {
      position: absolute;
      top: 56%;
      left: 10px;
      transform: translateY(-50%);
      color: #fff;
    }
  }

  .icon-group {
    display: flex;
    align-items: center;
    gap: 15px;

    .icon {
      width: 35px;
      height: 35px;
      background-color: #2e3a4e;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #4e4949;

      @media screen and (max-width: 600px) {
        width: 20px;
        height: 20px;
        background-color: #2e3a4e;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4e4949;
      }

      .icon-item {
        color: white;
        font-size: 24px;
        @media screen and (max-width: 600px) {
          font-size: 10px;
        }
      }
    }

    .avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 600px) {
        width: 20px;
        height: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
