.recent-orders-container {
  background-color: #2b2f36;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 67%;

  @media screen and (max-width: 1000px) {
    width: 100%;
    margin-top: 1rem;
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: left;
    font-size: 24px;
    padding-left: 1rem;
    color: #fff;
  }

  .table-container {
    padding: 1rem;
    overflow-x: auto;
    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 10px;
        text-align: left;
        color: #fff;
        border-bottom: 1px solid #626262;
        font-size: clamp(12px, 2vw, 16px);
        white-space: nowrap;
      }

      tr:last-child {
        td {
          border-bottom: none;
        }
      }

      th {
        background-color: #2b2f36;
        color: #fff;
        font-size: clamp(12px, 2vw, 16px);
      }

      td {
        border-bottom: 1px solid #626262;
        font-size: clamp(12px, 2vw, 16px);
      }

      .customer-info {
        display: flex;
        align-items: center;
        column-gap: 5px;

        .customer-avatar {
          width: 20px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        span {
          font-size: clamp(12px, 2vw, 16px);
          color: #fff;
        }
      }

      .status-badge {
        border-radius: 12px;
        color: #fff;
        font-size: 14px;
        text-align: center;

        &.status-delivered {
          background-color: #165246;
          color: rgb(101, 219, 86);
          font-weight: 600;
          margin: 0;
          padding: 5px;
        }

        &.status-pending {
          background-color: #5a3436;
          color: #ff5b5b;
          font-weight: 600;
          margin: 0;
          padding: 5px;
        }

        &.status-cancelled {
          background-color: #5a3436;
          color: #ff5b5b;
          font-weight: 600;
          margin: 0;
          padding: 5px;
        }
      }
    }
  }
}
